<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elewamathtutoring">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".Util.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.default"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity
            android:name=".Activity.ParentOrStudent.postMathProblem.EditMathProblemActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ParentOrStudent.postMathProblem.details.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ParentOrStudent.postMathProblem.mathProblem.PostMathProblemActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti" />

        <activity
            android:name=".Util.sinchcalling.SinchIncomingCallActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.default.NoActionBar" />

        <service
            android:name=".Util.sinchcalling.SinchService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="phoneCall"
            android:stopWithTask="false" />

        <activity
            android:name=".Activity.ParentOrStudent.filter.FilterActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Auth.SignupTeacher2Activity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Auth.SignupTeacherActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.AddParticipantActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.StudyGroupActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.ParentOrStudent.resources.ResoucesActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.mathChat.AudioCallActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.mathChat.VideoCallActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.mathChat.MathPersonChatActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Chat.mathChat.MathChatActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.ParentOrStudent.Viewall_trangection"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".Activity.ParentOrStudent.ReceiptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.request.RequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Chat.Chat_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activity.ParentOrStudent.UpcomingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.edit.EditYourProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.MainTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Util.Location.MyNewMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.SubscriptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.availability.AvailablityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.TeachingInfo.TeachingInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeacherOrTutor.editProfile.AboutYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.session.ScheduleASession2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.session.ScheduleASessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auth.LoginGuestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.teacherDetail.TeacherDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyBankAccountsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.addBAnk.AddBankAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.wallet.WithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.add_card.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.payment.PaymentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SendFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.privacy.PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.resources.changepassword.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.settings.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ParentOrStudent.editProfile.EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auth.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Auth.DescSignupScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.Auth.signup.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".Activity.Auth.SignUpAs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auth.IntroSlider"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auth.login.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Auth.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Util.fcm.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>